/* section{
    overflow-y:scroll;
} */
body{
  font-family: 'Lato', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0px;
    width: 250px;
    background: #3F0E40;
    display: block;
  }

  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar li {
    color: rgb(178,159,179);
    /* font-family: Helvetica, sans-serif; */
    font-size: 16px;
    cursor: pointer;
    padding: 6px 12px;
  }

  .sidebar li:hover {
    background-color: rgb(38,0,39);
  }

  .sidebar li:hover:nth-child(1) {
    color: white;
  }

  .sidebar li a{
    text-decoration:none;
    color:rgb(178,159,179);
  }

  h3{
    color: rgb(178,159,179);
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    padding: 6px 12px;
    cursor: pointer;
  }

  /* .container{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
  } */

  /* .center{
       display:flex;
       flex-direction: column;
       justify-content: flex-start;
       margin-left:250px;
  } */

  .container{
    display:flex;
    justify-content:flex-end;
  }

  .center{
    width:82%;
  }
  
header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  height: 70px;
  width: 100%;
  position: sticky;
  top: 0;
}

#cha-name {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#cha-name h2 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  margin: 10px 0 8px 0;
}

#cha-name #star {
  font-size: 13px;
  color: #656465;
  font-family: 'Noto Sans JP', sans-serif;
}

#cha-name #star span:nth-child(1):hover {
  color: #f2c849;
  cursor: pointer;
}

#cha-name #star span:nth-child(2):hover, #cha-name #star span:nth-child(3):hover {
  color: #2671aa;
  cursor: pointer;
}

#cha-name #star span {
  border-right: 1px solid #656465;
  padding: 0 5px;
  margin-bottom: 2px;
}

#cha-name #star span:last-child {
  border-right: 0px solid #656465;
}

#hed-last {
  display: flex;
  align-items: center;
}

#hed-last span {
  margin: 8px;
  font-size: 18px;
}

#hed-last span:nth-child(2):hover, #hed-last span:nth-child(3):hover, #hed-last span:nth-child(7):hover {
  color: #1164a3;
  cursor: pointer;
}

#hed-last button:hover, #hed-last button:hover i {
  color: #1164a3;
}

#hed-last span:nth-child(5):hover {
  color: red;
  cursor: pointer;
}

#hed-last span:nth-child(6):hover {
  color: #f2c849;
  cursor: pointer;
}

#hed-last button {
  color: #aa95ab;
  background: transparent;
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  align-items: center;
  width: 192px;
  margin-top: 5px;
  margin-left: 14px;
  margin-right: 14px;
  top: 16px;
  border: 1px solid #868686;
  padding: 5px 8px;
  border-radius: 4px;
}

#hed-last button i {
  margin: 0 5px;
  color: black;
}

  /* .header-child-one{
    display:flex;
  } */

  .header-border-line{
    border-bottom:1px solid grey;
  }

  p{
    font-size:19px;
  }

  .icons-with-links{
    display:flex;
  }

  .icons-with-links a{
    padding:5px;
  }

fieldset{
  border-top:1px solid grey;
  position:relative;
  text-align:center;
  border-bottom:none;
  border-right:none;
  border-left:none;
}

.profile-pic{
  display:flex;
  margin:10px;
}

img{
  border-radius:10px;
}

h1{
  font-size:30px;
  font-weight:bold;
}

.header-input input{
  padding:20px;
  border-radius:5px;
  border:2px solid grey;
}

/* footer */

footer {
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer button:first-child {
  background: #fff;
  border: 2px solid #616061;
  color: #616061;
  font-size: 18px;
  margin-left: 20px;
  border-right: 0px;
  border-radius: 5px 0 0 5px;
  height: 50px;
  width: 50px;
}

footer button:first-child:hover {
  color: white;
  background-color: #56b68b;
}

footer input {
  background: #fff;
  border: 2px solid #616061;
  color: #616061;
  font-size: 15px;
  border-right: 0px;
  padding-left: 8px;
  height: 44px;
  width: 70%;
}

footer button:last-child {
  background: #fff;
  border: 2px solid #616061;
  color: #616061;
  font-size: 18px;
  border-left: 0px;
  border-radius: 0px 5px 5px 0px;
  height: 50px;
  margin-right: 20px;
  width: 70px;
}
footer button:last-child i:first-child:hover{
  color: #1164a3;
  cursor: pointer;
}
footer button:last-child i:last-child:hover{
  color: #f2c849;
  cursor: pointer;
}

footer button:last-child i {
  margin: 0 5px;
}
